<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F5 Education - Soluções modernas para educação, aulas ao vivo e gravadas, com interação entre alunos e professores.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/F5Education.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container gap-2">
                <image src="/images/logo.svg"
                       width="30"
                       class="mr-4" />
                <a class="navbar-brand" asp-area="" asp-page="/Index">F5 Edu</a>
                <!--<input placeholder="Pesquisar por cursos ou artigos..."
                       class="layout__search_input mr-8" />-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 gap-4">
                        <li class="nav-item">
                            <a class="menu-link" asp-area="" asp-page="/Courses">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-link" asp-area="" asp-page="/Contact">Contato</a>
                        </li>

                        <li class="layout__menu_assinar_login">
                            <a class="layout__menu_assinar" asp-area="" asp-page="/Contact">Assinar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted bg-dark mt-5">
        <div class="container d-flex align-items-center justify-content-center gap-4 pt-4">
            <a href="#" class="text-white-50">Fale conosco</a>
            <a href="#" class="text-white-50">Carreiras</a>
        </div>
        <hr />
        <div class="container d-flex align-items-center justify-content-center gap-4">
            <image src="/images/logo.svg"
                   width="30"
                   class="mr-4" />
            F5 Education
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>