@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start">
    <h1 class="">F5 Education</h1>
    <p>
        Soluções incríveis para educação, aulas ao vivo e gravadas, com interação entre alunos e professores.
    </p>
</div>
